<div class="small-12 large-12 column">
  <div class="messages"></div>
</div>
<div class="small-12 large-12 column">
  {{#each board.statuses}}
    <div class="status-lane" data-id="{{_id.$oid}}" style="width:{{lane_width}}">
      <div class="title">{{name}}</div>
      <div class="add">
        <a data-status="{{name}}" href="#" id="add-item"><i class="icon-plus"></i></a>
      </div>
      <div class="items">
        {{#each items}}
          <div class="item" data-id="{{_id.$oid}}"><a href="#" id="show-item" data-id="{{_id.$oid}}">{{title}}</a><i class="icon-move"></i></div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>